.a #hours {
  z-index: 2;
}
.a #minutes {
  z-index: 1;
}
.a #seconds {
  z-index: 1;
}
.a #hours {
  top: calc(25% - 1rem);
  left: calc(25% - 1rem);
  width: 50%;
  height: 50%;
  background-color: #000;
}
.a #hours .hour-box {
  border-left: solid #fff 1rem;
  bottom: calc(50% - 0.5rem);
  left: calc(50% - 0.5rem);
  width: 100%;
  height: 100%;
  transform-origin: 0.5rem calc(100% - 0.5rem);
  overflow: hidden;
}
.a #hours .hour-box.rot-0 {
  transform: rotate(0deg);
}
.a #hours .hour-box.rot-1 {
  transform: rotate(30deg);
}
.a #hours .hour-box.rot-2 {
  transform: rotate(60deg);
}
.a #hours .hour-box.rot-3 {
  transform: rotate(90deg);
}
.a #hours .hour-box.rot-4 {
  transform: rotate(120deg);
}
.a #hours .hour-box.rot-5 {
  transform: rotate(150deg);
}
.a #hours .hour-box.rot-6 {
  transform: rotate(180deg);
}
.a #hours .hour-box.rot-7 {
  transform: rotate(210deg);
}
.a #hours .hour-box.rot-8 {
  transform: rotate(240deg);
}
.a #hours .hour-box.rot-9 {
  transform: rotate(270deg);
}
.a #hours .hour-box.rot-10 {
  transform: rotate(300deg);
}
.a #hours .hour-box.rot-11 {
  transform: rotate(330deg);
}
.a #hours .hour-box::after {
  border: solid #fff 1rem;
  content: "";
  position: absolute;
  bottom: 0;
  left: -1rem;
  width: 100%;
  height: 100%;
  transform: rotate(-60deg);
  transform-origin: 0.5rem calc(100% - 0.5rem);
  background-color: #000;
}
.a #hours .hour-box.on::after {
  background-color: var(--color-hour-0);
}
.a #minutes {
  left: calc(0% + 6.25% - 0.9375rem);
  top: calc(0% + 6.25% - 0.9375rem);
  width: calc(100% - (6.25% - 0.9375rem) * 2 - 2rem);
  height: calc(100% - (6.25% - 0.9375rem) * 2 - 2rem);
}
.a #minutes .minute-box {
  border-left: solid #fff 1rem;
  bottom: calc(50% - 0.5rem);
  left: calc(50% - 0.5rem);
  width: 100%;
  height: 100%;
  transform-origin: 0.5rem calc(100% - 0.5rem);
  overflow: hidden;
}
.a #minutes .minute-box.rot-0 {
  transform: rotate(0deg);
}
.a #minutes .minute-box.rot-1 {
  transform: rotate(6deg);
}
.a #minutes .minute-box.rot-2 {
  transform: rotate(12deg);
}
.a #minutes .minute-box.rot-3 {
  transform: rotate(18deg);
}
.a #minutes .minute-box.rot-4 {
  transform: rotate(24deg);
}
.a #minutes .minute-box.rot-5 {
  transform: rotate(30deg);
}
.a #minutes .minute-box.rot-6 {
  transform: rotate(36deg);
}
.a #minutes .minute-box.rot-7 {
  transform: rotate(42deg);
}
.a #minutes .minute-box.rot-8 {
  transform: rotate(48deg);
}
.a #minutes .minute-box.rot-9 {
  transform: rotate(54deg);
}
.a #minutes .minute-box.rot-10 {
  transform: rotate(60deg);
}
.a #minutes .minute-box.rot-11 {
  transform: rotate(66deg);
}
.a #minutes .minute-box.rot-12 {
  transform: rotate(72deg);
}
.a #minutes .minute-box.rot-13 {
  transform: rotate(78deg);
}
.a #minutes .minute-box.rot-14 {
  transform: rotate(84deg);
}
.a #minutes .minute-box.rot-15 {
  transform: rotate(90deg);
}
.a #minutes .minute-box.rot-16 {
  transform: rotate(96deg);
}
.a #minutes .minute-box.rot-17 {
  transform: rotate(102deg);
}
.a #minutes .minute-box.rot-18 {
  transform: rotate(108deg);
}
.a #minutes .minute-box.rot-19 {
  transform: rotate(114deg);
}
.a #minutes .minute-box.rot-20 {
  transform: rotate(120deg);
}
.a #minutes .minute-box.rot-21 {
  transform: rotate(126deg);
}
.a #minutes .minute-box.rot-22 {
  transform: rotate(132deg);
}
.a #minutes .minute-box.rot-23 {
  transform: rotate(138deg);
}
.a #minutes .minute-box.rot-24 {
  transform: rotate(144deg);
}
.a #minutes .minute-box.rot-25 {
  transform: rotate(150deg);
}
.a #minutes .minute-box.rot-26 {
  transform: rotate(156deg);
}
.a #minutes .minute-box.rot-27 {
  transform: rotate(162deg);
}
.a #minutes .minute-box.rot-28 {
  transform: rotate(168deg);
}
.a #minutes .minute-box.rot-29 {
  transform: rotate(174deg);
}
.a #minutes .minute-box.rot-30 {
  transform: rotate(180deg);
}
.a #minutes .minute-box.rot-31 {
  transform: rotate(186deg);
}
.a #minutes .minute-box.rot-32 {
  transform: rotate(192deg);
}
.a #minutes .minute-box.rot-33 {
  transform: rotate(198deg);
}
.a #minutes .minute-box.rot-34 {
  transform: rotate(204deg);
}
.a #minutes .minute-box.rot-35 {
  transform: rotate(210deg);
}
.a #minutes .minute-box.rot-36 {
  transform: rotate(216deg);
}
.a #minutes .minute-box.rot-37 {
  transform: rotate(222deg);
}
.a #minutes .minute-box.rot-38 {
  transform: rotate(228deg);
}
.a #minutes .minute-box.rot-39 {
  transform: rotate(234deg);
}
.a #minutes .minute-box.rot-40 {
  transform: rotate(240deg);
}
.a #minutes .minute-box.rot-41 {
  transform: rotate(246deg);
}
.a #minutes .minute-box.rot-42 {
  transform: rotate(252deg);
}
.a #minutes .minute-box.rot-43 {
  transform: rotate(258deg);
}
.a #minutes .minute-box.rot-44 {
  transform: rotate(264deg);
}
.a #minutes .minute-box.rot-45 {
  transform: rotate(270deg);
}
.a #minutes .minute-box.rot-46 {
  transform: rotate(276deg);
}
.a #minutes .minute-box.rot-47 {
  transform: rotate(282deg);
}
.a #minutes .minute-box.rot-48 {
  transform: rotate(288deg);
}
.a #minutes .minute-box.rot-49 {
  transform: rotate(294deg);
}
.a #minutes .minute-box.rot-50 {
  transform: rotate(300deg);
}
.a #minutes .minute-box.rot-51 {
  transform: rotate(306deg);
}
.a #minutes .minute-box.rot-52 {
  transform: rotate(312deg);
}
.a #minutes .minute-box.rot-53 {
  transform: rotate(318deg);
}
.a #minutes .minute-box.rot-54 {
  transform: rotate(324deg);
}
.a #minutes .minute-box.rot-55 {
  transform: rotate(330deg);
}
.a #minutes .minute-box.rot-56 {
  transform: rotate(336deg);
}
.a #minutes .minute-box.rot-57 {
  transform: rotate(342deg);
}
.a #minutes .minute-box.rot-58 {
  transform: rotate(348deg);
}
.a #minutes .minute-box.rot-59 {
  transform: rotate(354deg);
}
.a #minutes .minute-box::after {
  border: solid #fff 1rem;
  content: "";
  position: absolute;
  bottom: 0;
  left: -1rem;
  width: 100%;
  height: 100%;
  transform: rotate(-84deg);
  transform-origin: 0.5rem calc(100% - 0.5rem);
  background-color: #000;
}
.a #minutes .minute-box.on::after {
  background-color: var(--color-minute-0);
}
.a #seconds {
  top: calc(0% - 1rem);
  left: calc(0% - 1rem);
  width: 100%;
  height: 100%;
}
.a #seconds .second-box {
  border: solid #fff 1rem;
  width: calc(6.25% - 0.9375rem);
  height: calc(6.25% - 0.9375rem);
  background-color: #000;
}
.a #seconds .second-box.row-0 {
  top: calc((6.25% - 0.9375rem + 1rem) * 0 - 1rem);
}
.a #seconds .second-box.col-0 {
  left: calc((6.25% - 0.9375rem + 1rem) * 0 - 1rem);
}
.a #seconds .second-box.row-1 {
  top: calc((6.25% - 0.9375rem + 1rem) * 1 - 1rem);
}
.a #seconds .second-box.col-1 {
  left: calc((6.25% - 0.9375rem + 1rem) * 1 - 1rem);
}
.a #seconds .second-box.row-2 {
  top: calc((6.25% - 0.9375rem + 1rem) * 2 - 1rem);
}
.a #seconds .second-box.col-2 {
  left: calc((6.25% - 0.9375rem + 1rem) * 2 - 1rem);
}
.a #seconds .second-box.row-3 {
  top: calc((6.25% - 0.9375rem + 1rem) * 3 - 1rem);
}
.a #seconds .second-box.col-3 {
  left: calc((6.25% - 0.9375rem + 1rem) * 3 - 1rem);
}
.a #seconds .second-box.row-4 {
  top: calc((6.25% - 0.9375rem + 1rem) * 4 - 1rem);
}
.a #seconds .second-box.col-4 {
  left: calc((6.25% - 0.9375rem + 1rem) * 4 - 1rem);
}
.a #seconds .second-box.row-5 {
  top: calc((6.25% - 0.9375rem + 1rem) * 5 - 1rem);
}
.a #seconds .second-box.col-5 {
  left: calc((6.25% - 0.9375rem + 1rem) * 5 - 1rem);
}
.a #seconds .second-box.row-6 {
  top: calc((6.25% - 0.9375rem + 1rem) * 6 - 1rem);
}
.a #seconds .second-box.col-6 {
  left: calc((6.25% - 0.9375rem + 1rem) * 6 - 1rem);
}
.a #seconds .second-box.row-7 {
  top: calc((6.25% - 0.9375rem + 1rem) * 7 - 1rem);
}
.a #seconds .second-box.col-7 {
  left: calc((6.25% - 0.9375rem + 1rem) * 7 - 1rem);
}
.a #seconds .second-box.row-8 {
  top: calc((6.25% - 0.9375rem + 1rem) * 8 - 1rem);
}
.a #seconds .second-box.col-8 {
  left: calc((6.25% - 0.9375rem + 1rem) * 8 - 1rem);
}
.a #seconds .second-box.row-9 {
  top: calc((6.25% - 0.9375rem + 1rem) * 9 - 1rem);
}
.a #seconds .second-box.col-9 {
  left: calc((6.25% - 0.9375rem + 1rem) * 9 - 1rem);
}
.a #seconds .second-box.row-10 {
  top: calc((6.25% - 0.9375rem + 1rem) * 10 - 1rem);
}
.a #seconds .second-box.col-10 {
  left: calc((6.25% - 0.9375rem + 1rem) * 10 - 1rem);
}
.a #seconds .second-box.row-11 {
  top: calc((6.25% - 0.9375rem + 1rem) * 11 - 1rem);
}
.a #seconds .second-box.col-11 {
  left: calc((6.25% - 0.9375rem + 1rem) * 11 - 1rem);
}
.a #seconds .second-box.row-12 {
  top: calc((6.25% - 0.9375rem + 1rem) * 12 - 1rem);
}
.a #seconds .second-box.col-12 {
  left: calc((6.25% - 0.9375rem + 1rem) * 12 - 1rem);
}
.a #seconds .second-box.row-13 {
  top: calc((6.25% - 0.9375rem + 1rem) * 13 - 1rem);
}
.a #seconds .second-box.col-13 {
  left: calc((6.25% - 0.9375rem + 1rem) * 13 - 1rem);
}
.a #seconds .second-box.row-14 {
  top: calc((6.25% - 0.9375rem + 1rem) * 14 - 1rem);
}
.a #seconds .second-box.col-14 {
  left: calc((6.25% - 0.9375rem + 1rem) * 14 - 1rem);
}
.a #seconds .second-box.row-15 {
  top: calc((6.25% - 0.9375rem + 1rem) * 15 - 1rem);
}
.a #seconds .second-box.col-15 {
  left: calc((6.25% - 0.9375rem + 1rem) * 15 - 1rem);
}
.a #seconds .second-box.on {
  background-color: var(--color-second-0);
}

/*# sourceMappingURL=design-a.css.map */
