.q #hours {
  z-index: 1;
}
.q #minutes {
  z-index: 2;
}
.q #seconds {
  z-index: 1;
}
.q #hours {
  top: calc(50% - (12.5% - 0.875rem + 12.5% - 0.875rem + 1rem) / 2 - 1rem);
  left: calc(50% - (12.5% - 0.875rem + 12.5% - 0.875rem + 1rem) / 2 - 1rem);
  width: calc(12.5% - 0.875rem + 12.5% - 0.875rem + 1rem);
  height: calc(12.5% - 0.875rem + 12.5% - 0.875rem + 1rem);
}
.q #hours .hour-box {
  border-left: solid #fff 1rem;
  bottom: calc(50% - 0.5rem);
  left: calc(50% - 0.5rem);
  width: 100%;
  height: 100%;
  transform-origin: 0.5rem calc(100% - 0.5rem);
  overflow: hidden;
}
.q #hours .hour-box.rot-0 {
  transform: rotate(0deg);
}
.q #hours .hour-box.rot-1 {
  transform: rotate(30deg);
}
.q #hours .hour-box.rot-2 {
  transform: rotate(60deg);
}
.q #hours .hour-box.rot-3 {
  transform: rotate(90deg);
}
.q #hours .hour-box.rot-4 {
  transform: rotate(120deg);
}
.q #hours .hour-box.rot-5 {
  transform: rotate(150deg);
}
.q #hours .hour-box.rot-6 {
  transform: rotate(180deg);
}
.q #hours .hour-box.rot-7 {
  transform: rotate(210deg);
}
.q #hours .hour-box.rot-8 {
  transform: rotate(240deg);
}
.q #hours .hour-box.rot-9 {
  transform: rotate(270deg);
}
.q #hours .hour-box.rot-10 {
  transform: rotate(300deg);
}
.q #hours .hour-box.rot-11 {
  transform: rotate(330deg);
}
.q #hours .hour-box::after {
  border: solid #fff 1rem;
  content: "";
  position: absolute;
  bottom: 0;
  left: -1rem;
  width: 100%;
  height: 100%;
  transform: rotate(-60deg);
  transform-origin: 0.5rem calc(100% - 0.5rem);
  background-color: #000;
}
.q #hours .hour-box.on::after {
  background-color: var(--color-hour-0);
}
.q #hours .hour-box.on::after {
  background-color: var(--color-hour-0);
}
.q #hours .hour-box.on::after {
  background-color: var(--color-hour-0);
}
.q #minutes {
  top: calc(0% - 1rem);
  left: calc(0% - 1rem);
  width: 100%;
  height: 100%;
}
.q #minutes .minute-box {
  border: solid #fff 1rem;
  transform: translate(-1rem, -1rem);
  width: calc((12.5% - 0.875rem) * 0.5);
  height: calc((12.5% - 0.875rem) * 0.5);
  border-radius: 50%;
  background-color: #000;
}
.q #minutes .minute-box.row-0 {
  top: calc((12.5% - 0.875rem + 1rem) * 0 + (12.5% - 0.875rem) * 0.25);
}
.q #minutes .minute-box.row-1 {
  top: calc((12.5% - 0.875rem + 1rem) * 1 + (12.5% - 0.875rem) * 0.25);
}
.q #minutes .minute-box.row-2 {
  top: calc((12.5% - 0.875rem + 1rem) * 2 + (12.5% - 0.875rem) * 0.25);
}
.q #minutes .minute-box.row-3 {
  top: calc((12.5% - 0.875rem + 1rem) * 3 + (12.5% - 0.875rem) * 0.25);
}
.q #minutes .minute-box.row-4 {
  top: calc((12.5% - 0.875rem + 1rem) * 4 + (12.5% - 0.875rem) * 0.25);
}
.q #minutes .minute-box.row-5 {
  top: calc((12.5% - 0.875rem + 1rem) * 5 + (12.5% - 0.875rem) * 0.25);
}
.q #minutes .minute-box.row-6 {
  top: calc((12.5% - 0.875rem + 1rem) * 6 + (12.5% - 0.875rem) * 0.25);
}
.q #minutes .minute-box.row-7 {
  top: calc((12.5% - 0.875rem + 1rem) * 7 + (12.5% - 0.875rem) * 0.25);
}
.q #minutes .minute-box.col-0 {
  left: calc((12.5% - 0.875rem + 1rem) * 0 + (12.5% - 0.875rem) * 0.25);
}
.q #minutes .minute-box.col-1 {
  left: calc((12.5% - 0.875rem + 1rem) * 1 + (12.5% - 0.875rem) * 0.25);
}
.q #minutes .minute-box.col-2 {
  left: calc((12.5% - 0.875rem + 1rem) * 2 + (12.5% - 0.875rem) * 0.25);
}
.q #minutes .minute-box.col-3 {
  left: calc((12.5% - 0.875rem + 1rem) * 3 + (12.5% - 0.875rem) * 0.25);
}
.q #minutes .minute-box.col-4 {
  left: calc((12.5% - 0.875rem + 1rem) * 4 + (12.5% - 0.875rem) * 0.25);
}
.q #minutes .minute-box.col-5 {
  left: calc((12.5% - 0.875rem + 1rem) * 5 + (12.5% - 0.875rem) * 0.25);
}
.q #minutes .minute-box.col-6 {
  left: calc((12.5% - 0.875rem + 1rem) * 6 + (12.5% - 0.875rem) * 0.25);
}
.q #minutes .minute-box.col-7 {
  left: calc((12.5% - 0.875rem + 1rem) * 7 + (12.5% - 0.875rem) * 0.25);
}
.q #minutes .minute-box.on {
  background-color: var(--color-minute-0);
}
.q #seconds {
  top: calc(0% - 1rem);
  left: calc(0% - 1rem);
  width: 100%;
  height: 100%;
}
.q #seconds .second-box {
  border: solid #fff 1rem;
  transform: translate(-1rem, -1rem);
  width: calc(12.5% - 0.875rem);
  height: calc(12.5% - 0.875rem);
}
.q #seconds .second-box.row-0 {
  top: calc((12.5% - 0.875rem + 1rem) * 0);
}
.q #seconds .second-box.row-1 {
  top: calc((12.5% - 0.875rem + 1rem) * 1);
}
.q #seconds .second-box.row-2 {
  top: calc((12.5% - 0.875rem + 1rem) * 2);
}
.q #seconds .second-box.row-3 {
  top: calc((12.5% - 0.875rem + 1rem) * 3);
}
.q #seconds .second-box.row-4 {
  top: calc((12.5% - 0.875rem + 1rem) * 4);
}
.q #seconds .second-box.row-5 {
  top: calc((12.5% - 0.875rem + 1rem) * 5);
}
.q #seconds .second-box.row-6 {
  top: calc((12.5% - 0.875rem + 1rem) * 6);
}
.q #seconds .second-box.row-7 {
  top: calc((12.5% - 0.875rem + 1rem) * 7);
}
.q #seconds .second-box.col-0 {
  left: calc((12.5% - 0.875rem + 1rem) * 0);
}
.q #seconds .second-box.col-1 {
  left: calc((12.5% - 0.875rem + 1rem) * 1);
}
.q #seconds .second-box.col-2 {
  left: calc((12.5% - 0.875rem + 1rem) * 2);
}
.q #seconds .second-box.col-3 {
  left: calc((12.5% - 0.875rem + 1rem) * 3);
}
.q #seconds .second-box.col-4 {
  left: calc((12.5% - 0.875rem + 1rem) * 4);
}
.q #seconds .second-box.col-5 {
  left: calc((12.5% - 0.875rem + 1rem) * 5);
}
.q #seconds .second-box.col-6 {
  left: calc((12.5% - 0.875rem + 1rem) * 6);
}
.q #seconds .second-box.col-7 {
  left: calc((12.5% - 0.875rem + 1rem) * 7);
}
.q #seconds .second-box.on.color-0 {
  background-color: var(--color-minute-0);
}
.q #seconds .second-box.on.color-1 {
  background-color: var(--color-minute-1);
}
.q #seconds .second-box.on {
  background-color: var(--color-second-0);
}

/*# sourceMappingURL=design-q.css.map */
