.k #hours {
  z-index: 3;
}
.k #minutes {
  z-index: 2;
}
.k #seconds {
  z-index: 1;
}
.k #hours {
  top: calc(20% - 1rem);
  left: calc(20% - 1rem);
  width: 60%;
  height: 60%;
  border-radius: 50%;
  background-color: #000;
}
.k #hours .hour-box {
  border: solid #fff 1rem;
  border-radius: 50%;
}
.k #hours .hour-box.level-0 {
  top: calc(45.8333333333% - 1rem);
  left: calc(45.8333333333% - 1rem);
  width: 8.3333333333%;
  height: 8.3333333333%;
  z-index: 12;
}
.k #hours .hour-box.level-1 {
  top: calc(41.6666666667% - 1rem);
  left: calc(41.6666666667% - 1rem);
  width: 16.6666666667%;
  height: 16.6666666667%;
  z-index: 11;
}
.k #hours .hour-box.level-2 {
  top: calc(37.5% - 1rem);
  left: calc(37.5% - 1rem);
  width: 25%;
  height: 25%;
  z-index: 10;
}
.k #hours .hour-box.level-3 {
  top: calc(33.3333333333% - 1rem);
  left: calc(33.3333333333% - 1rem);
  width: 33.3333333333%;
  height: 33.3333333333%;
  z-index: 9;
}
.k #hours .hour-box.level-4 {
  top: calc(29.1666666667% - 1rem);
  left: calc(29.1666666667% - 1rem);
  width: 41.6666666667%;
  height: 41.6666666667%;
  z-index: 8;
}
.k #hours .hour-box.level-5 {
  top: calc(25% - 1rem);
  left: calc(25% - 1rem);
  width: 50%;
  height: 50%;
  z-index: 7;
}
.k #hours .hour-box.level-6 {
  top: calc(20.8333333333% - 1rem);
  left: calc(20.8333333333% - 1rem);
  width: 58.3333333333%;
  height: 58.3333333333%;
  z-index: 6;
}
.k #hours .hour-box.level-7 {
  top: calc(16.6666666667% - 1rem);
  left: calc(16.6666666667% - 1rem);
  width: 66.6666666667%;
  height: 66.6666666667%;
  z-index: 5;
}
.k #hours .hour-box.level-8 {
  top: calc(12.5% - 1rem);
  left: calc(12.5% - 1rem);
  width: 75%;
  height: 75%;
  z-index: 4;
}
.k #hours .hour-box.level-9 {
  top: calc(8.3333333333% - 1rem);
  left: calc(8.3333333333% - 1rem);
  width: 83.3333333333%;
  height: 83.3333333333%;
  z-index: 3;
}
.k #hours .hour-box.level-10 {
  top: calc(4.1666666667% - 1rem);
  left: calc(4.1666666667% - 1rem);
  width: 91.6666666667%;
  height: 91.6666666667%;
  z-index: 2;
}
.k #hours .hour-box.level-11 {
  top: calc(0% - 1rem);
  left: calc(0% - 1rem);
  width: 100%;
  height: 100%;
  z-index: 1;
}
.k #hours .hour-box.on.color-0 {
  background-color: var(--color-hour-0);
}
.k #hours .hour-box.on.color-1 {
  background-color: var(--color-hour-1);
}
.k #hours .hour-box.on.color-2 {
  background-color: var(--color-hour-2);
}
.k #hours .hour-box.on.color-3 {
  background-color: var(--color-hour-3);
}
.k #minutes {
  top: calc(10% - 1rem);
  left: calc(10% - 1rem);
  width: 80%;
  height: 80%;
  border-radius: 50%;
  background-color: #000;
}
.k #minutes .minute-box {
  border-left: solid #fff 1rem;
  bottom: calc(50% - 0.5rem);
  left: calc(50% - 0.5rem);
  width: 100%;
  height: 100%;
  transform-origin: 0.5rem calc(100% - 0.5rem);
  overflow: hidden;
}
.k #minutes .minute-box.rot-0 {
  transform: rotate(0deg);
}
.k #minutes .minute-box.rot-1 {
  transform: rotate(6deg);
}
.k #minutes .minute-box.rot-2 {
  transform: rotate(12deg);
}
.k #minutes .minute-box.rot-3 {
  transform: rotate(18deg);
}
.k #minutes .minute-box.rot-4 {
  transform: rotate(24deg);
}
.k #minutes .minute-box.rot-5 {
  transform: rotate(30deg);
}
.k #minutes .minute-box.rot-6 {
  transform: rotate(36deg);
}
.k #minutes .minute-box.rot-7 {
  transform: rotate(42deg);
}
.k #minutes .minute-box.rot-8 {
  transform: rotate(48deg);
}
.k #minutes .minute-box.rot-9 {
  transform: rotate(54deg);
}
.k #minutes .minute-box.rot-10 {
  transform: rotate(60deg);
}
.k #minutes .minute-box.rot-11 {
  transform: rotate(66deg);
}
.k #minutes .minute-box.rot-12 {
  transform: rotate(72deg);
}
.k #minutes .minute-box.rot-13 {
  transform: rotate(78deg);
}
.k #minutes .minute-box.rot-14 {
  transform: rotate(84deg);
}
.k #minutes .minute-box.rot-15 {
  transform: rotate(90deg);
}
.k #minutes .minute-box.rot-16 {
  transform: rotate(96deg);
}
.k #minutes .minute-box.rot-17 {
  transform: rotate(102deg);
}
.k #minutes .minute-box.rot-18 {
  transform: rotate(108deg);
}
.k #minutes .minute-box.rot-19 {
  transform: rotate(114deg);
}
.k #minutes .minute-box.rot-20 {
  transform: rotate(120deg);
}
.k #minutes .minute-box.rot-21 {
  transform: rotate(126deg);
}
.k #minutes .minute-box.rot-22 {
  transform: rotate(132deg);
}
.k #minutes .minute-box.rot-23 {
  transform: rotate(138deg);
}
.k #minutes .minute-box.rot-24 {
  transform: rotate(144deg);
}
.k #minutes .minute-box.rot-25 {
  transform: rotate(150deg);
}
.k #minutes .minute-box.rot-26 {
  transform: rotate(156deg);
}
.k #minutes .minute-box.rot-27 {
  transform: rotate(162deg);
}
.k #minutes .minute-box.rot-28 {
  transform: rotate(168deg);
}
.k #minutes .minute-box.rot-29 {
  transform: rotate(174deg);
}
.k #minutes .minute-box.rot-30 {
  transform: rotate(180deg);
}
.k #minutes .minute-box.rot-31 {
  transform: rotate(186deg);
}
.k #minutes .minute-box.rot-32 {
  transform: rotate(192deg);
}
.k #minutes .minute-box.rot-33 {
  transform: rotate(198deg);
}
.k #minutes .minute-box.rot-34 {
  transform: rotate(204deg);
}
.k #minutes .minute-box.rot-35 {
  transform: rotate(210deg);
}
.k #minutes .minute-box.rot-36 {
  transform: rotate(216deg);
}
.k #minutes .minute-box.rot-37 {
  transform: rotate(222deg);
}
.k #minutes .minute-box.rot-38 {
  transform: rotate(228deg);
}
.k #minutes .minute-box.rot-39 {
  transform: rotate(234deg);
}
.k #minutes .minute-box.rot-40 {
  transform: rotate(240deg);
}
.k #minutes .minute-box.rot-41 {
  transform: rotate(246deg);
}
.k #minutes .minute-box.rot-42 {
  transform: rotate(252deg);
}
.k #minutes .minute-box.rot-43 {
  transform: rotate(258deg);
}
.k #minutes .minute-box.rot-44 {
  transform: rotate(264deg);
}
.k #minutes .minute-box.rot-45 {
  transform: rotate(270deg);
}
.k #minutes .minute-box.rot-46 {
  transform: rotate(276deg);
}
.k #minutes .minute-box.rot-47 {
  transform: rotate(282deg);
}
.k #minutes .minute-box.rot-48 {
  transform: rotate(288deg);
}
.k #minutes .minute-box.rot-49 {
  transform: rotate(294deg);
}
.k #minutes .minute-box.rot-50 {
  transform: rotate(300deg);
}
.k #minutes .minute-box.rot-51 {
  transform: rotate(306deg);
}
.k #minutes .minute-box.rot-52 {
  transform: rotate(312deg);
}
.k #minutes .minute-box.rot-53 {
  transform: rotate(318deg);
}
.k #minutes .minute-box.rot-54 {
  transform: rotate(324deg);
}
.k #minutes .minute-box.rot-55 {
  transform: rotate(330deg);
}
.k #minutes .minute-box.rot-56 {
  transform: rotate(336deg);
}
.k #minutes .minute-box.rot-57 {
  transform: rotate(342deg);
}
.k #minutes .minute-box.rot-58 {
  transform: rotate(348deg);
}
.k #minutes .minute-box.rot-59 {
  transform: rotate(354deg);
}
.k #minutes .minute-box::after {
  border: solid #fff 1rem;
  content: "";
  position: absolute;
  bottom: 0;
  left: -1rem;
  width: 100%;
  height: 100%;
  transform: rotate(-84deg);
  transform-origin: 0.5rem calc(100% - 0.5rem);
  background-color: #000;
}
.k #minutes .minute-box.on::after {
  background-color: var(--color-minute-0);
}
.k #seconds {
  top: calc(0% - 1rem);
  left: calc(0% - 1rem);
  width: 100%;
  height: 100%;
}
.k #seconds .second-box {
  border-left: solid #fff 1rem;
  bottom: calc(50% - 0.5rem);
  left: calc(50% - 0.5rem);
  width: 100%;
  height: 100%;
  transform-origin: 0.5rem calc(100% - 0.5rem);
  overflow: hidden;
}
.k #seconds .second-box.rot-0 {
  transform: rotate(0deg);
}
.k #seconds .second-box.rot-1 {
  transform: rotate(6deg);
}
.k #seconds .second-box.rot-2 {
  transform: rotate(12deg);
}
.k #seconds .second-box.rot-3 {
  transform: rotate(18deg);
}
.k #seconds .second-box.rot-4 {
  transform: rotate(24deg);
}
.k #seconds .second-box.rot-5 {
  transform: rotate(30deg);
}
.k #seconds .second-box.rot-6 {
  transform: rotate(36deg);
}
.k #seconds .second-box.rot-7 {
  transform: rotate(42deg);
}
.k #seconds .second-box.rot-8 {
  transform: rotate(48deg);
}
.k #seconds .second-box.rot-9 {
  transform: rotate(54deg);
}
.k #seconds .second-box.rot-10 {
  transform: rotate(60deg);
}
.k #seconds .second-box.rot-11 {
  transform: rotate(66deg);
}
.k #seconds .second-box.rot-12 {
  transform: rotate(72deg);
}
.k #seconds .second-box.rot-13 {
  transform: rotate(78deg);
}
.k #seconds .second-box.rot-14 {
  transform: rotate(84deg);
}
.k #seconds .second-box.rot-15 {
  transform: rotate(90deg);
}
.k #seconds .second-box.rot-16 {
  transform: rotate(96deg);
}
.k #seconds .second-box.rot-17 {
  transform: rotate(102deg);
}
.k #seconds .second-box.rot-18 {
  transform: rotate(108deg);
}
.k #seconds .second-box.rot-19 {
  transform: rotate(114deg);
}
.k #seconds .second-box.rot-20 {
  transform: rotate(120deg);
}
.k #seconds .second-box.rot-21 {
  transform: rotate(126deg);
}
.k #seconds .second-box.rot-22 {
  transform: rotate(132deg);
}
.k #seconds .second-box.rot-23 {
  transform: rotate(138deg);
}
.k #seconds .second-box.rot-24 {
  transform: rotate(144deg);
}
.k #seconds .second-box.rot-25 {
  transform: rotate(150deg);
}
.k #seconds .second-box.rot-26 {
  transform: rotate(156deg);
}
.k #seconds .second-box.rot-27 {
  transform: rotate(162deg);
}
.k #seconds .second-box.rot-28 {
  transform: rotate(168deg);
}
.k #seconds .second-box.rot-29 {
  transform: rotate(174deg);
}
.k #seconds .second-box.rot-30 {
  transform: rotate(180deg);
}
.k #seconds .second-box.rot-31 {
  transform: rotate(186deg);
}
.k #seconds .second-box.rot-32 {
  transform: rotate(192deg);
}
.k #seconds .second-box.rot-33 {
  transform: rotate(198deg);
}
.k #seconds .second-box.rot-34 {
  transform: rotate(204deg);
}
.k #seconds .second-box.rot-35 {
  transform: rotate(210deg);
}
.k #seconds .second-box.rot-36 {
  transform: rotate(216deg);
}
.k #seconds .second-box.rot-37 {
  transform: rotate(222deg);
}
.k #seconds .second-box.rot-38 {
  transform: rotate(228deg);
}
.k #seconds .second-box.rot-39 {
  transform: rotate(234deg);
}
.k #seconds .second-box.rot-40 {
  transform: rotate(240deg);
}
.k #seconds .second-box.rot-41 {
  transform: rotate(246deg);
}
.k #seconds .second-box.rot-42 {
  transform: rotate(252deg);
}
.k #seconds .second-box.rot-43 {
  transform: rotate(258deg);
}
.k #seconds .second-box.rot-44 {
  transform: rotate(264deg);
}
.k #seconds .second-box.rot-45 {
  transform: rotate(270deg);
}
.k #seconds .second-box.rot-46 {
  transform: rotate(276deg);
}
.k #seconds .second-box.rot-47 {
  transform: rotate(282deg);
}
.k #seconds .second-box.rot-48 {
  transform: rotate(288deg);
}
.k #seconds .second-box.rot-49 {
  transform: rotate(294deg);
}
.k #seconds .second-box.rot-50 {
  transform: rotate(300deg);
}
.k #seconds .second-box.rot-51 {
  transform: rotate(306deg);
}
.k #seconds .second-box.rot-52 {
  transform: rotate(312deg);
}
.k #seconds .second-box.rot-53 {
  transform: rotate(318deg);
}
.k #seconds .second-box.rot-54 {
  transform: rotate(324deg);
}
.k #seconds .second-box.rot-55 {
  transform: rotate(330deg);
}
.k #seconds .second-box.rot-56 {
  transform: rotate(336deg);
}
.k #seconds .second-box.rot-57 {
  transform: rotate(342deg);
}
.k #seconds .second-box.rot-58 {
  transform: rotate(348deg);
}
.k #seconds .second-box.rot-59 {
  transform: rotate(354deg);
}
.k #seconds .second-box::after {
  border: solid #fff 1rem;
  content: "";
  position: absolute;
  bottom: 0;
  left: -1rem;
  width: 100%;
  height: 100%;
  transform: rotate(-84deg);
  transform-origin: 0.5rem calc(100% - 0.5rem);
  background-color: #000;
}
.k #seconds .second-box.on::after {
  background-color: var(--color-second-0);
}

/*# sourceMappingURL=design-k.css.map */
