.b #hours {
  left: calc(0% + 6.25% - 0.9375rem);
  top: calc(0% + 6.25% - 0.9375rem);
  width: calc(100% - (6.25% - 0.9375rem) * 2 - 2rem);
  height: calc(100% - (6.25% - 0.9375rem) * 2 - 2rem);
}
.b #hours .hour-box {
  border: solid #fff 1rem;
  transform: translate(-1rem, -1rem);
  width: calc(9.0909090909% - 0.9090909091rem);
  height: calc(50% - 0.5rem);
}
.b #hours .hour-box.row-0 {
  top: calc((50% - 0.5rem + 1rem) * 0);
}
.b #hours .hour-box.row-1 {
  top: calc((50% - 0.5rem + 1rem) * 1);
}
.b #hours .hour-box.col-0 {
  left: calc((9.0909090909% - 0.9090909091rem + 1rem) * 0);
}
.b #hours .hour-box.col-1 {
  left: calc((9.0909090909% - 0.9090909091rem + 1rem) * 2);
}
.b #hours .hour-box.col-2 {
  left: calc((9.0909090909% - 0.9090909091rem + 1rem) * 4);
}
.b #hours .hour-box.col-3 {
  left: calc((9.0909090909% - 0.9090909091rem + 1rem) * 6);
}
.b #hours .hour-box.col-4 {
  left: calc((9.0909090909% - 0.9090909091rem + 1rem) * 8);
}
.b #hours .hour-box.col-5 {
  left: calc((9.0909090909% - 0.9090909091rem + 1rem) * 10);
}
.b #hours .hour-box.on {
  background-color: var(--color-hour-0);
}
.b #minutes {
  left: calc(0% + 6.25% - 0.9375rem);
  top: calc(0% + 6.25% - 0.9375rem);
  width: calc(100% - (6.25% - 0.9375rem) * 2 - 2rem);
  height: calc(100% - (6.25% - 0.9375rem) * 2 - 2rem);
}
.b #minutes .minute-box {
  border: solid #fff 1rem;
  transform: translate(-1rem, -1rem);
  width: calc(9.0909090909% - 0.9090909091rem);
  height: calc(8.3333333333% - 0.9166666667rem);
}
.b #minutes .minute-box.row-0 {
  top: calc((8.3333333333% - 0.9166666667rem + 1rem) * 0);
}
.b #minutes .minute-box.row-1 {
  top: calc((8.3333333333% - 0.9166666667rem + 1rem) * 1);
}
.b #minutes .minute-box.row-2 {
  top: calc((8.3333333333% - 0.9166666667rem + 1rem) * 2);
}
.b #minutes .minute-box.row-3 {
  top: calc((8.3333333333% - 0.9166666667rem + 1rem) * 3);
}
.b #minutes .minute-box.row-4 {
  top: calc((8.3333333333% - 0.9166666667rem + 1rem) * 4);
}
.b #minutes .minute-box.row-5 {
  top: calc((8.3333333333% - 0.9166666667rem + 1rem) * 5);
}
.b #minutes .minute-box.row-6 {
  top: calc((8.3333333333% - 0.9166666667rem + 1rem) * 6);
}
.b #minutes .minute-box.row-7 {
  top: calc((8.3333333333% - 0.9166666667rem + 1rem) * 7);
}
.b #minutes .minute-box.row-8 {
  top: calc((8.3333333333% - 0.9166666667rem + 1rem) * 8);
}
.b #minutes .minute-box.row-9 {
  top: calc((8.3333333333% - 0.9166666667rem + 1rem) * 9);
}
.b #minutes .minute-box.row-10 {
  top: calc((8.3333333333% - 0.9166666667rem + 1rem) * 10);
}
.b #minutes .minute-box.row-11 {
  top: calc((8.3333333333% - 0.9166666667rem + 1rem) * 11);
}
.b #minutes .minute-box.col-0 {
  left: calc((9.0909090909% - 0.9090909091rem + 1rem) * 1);
}
.b #minutes .minute-box.col-1 {
  left: calc((9.0909090909% - 0.9090909091rem + 1rem) * 3);
}
.b #minutes .minute-box.col-2 {
  left: calc((9.0909090909% - 0.9090909091rem + 1rem) * 5);
}
.b #minutes .minute-box.col-3 {
  left: calc((9.0909090909% - 0.9090909091rem + 1rem) * 7);
}
.b #minutes .minute-box.col-4 {
  left: calc((9.0909090909% - 0.9090909091rem + 1rem) * 9);
}
.b #minutes .minute-box.on.color-0 {
  background-color: var(--color-minute-0);
}
.b #minutes .minute-box.on.color-1 {
  background-color: var(--color-minute-1);
}
.b #minutes .minute-box.on.color-2 {
  background-color: var(--color-minute-2);
}
.b #minutes .minute-box.on.color-3 {
  background-color: var(--color-minute-3);
}
.b #minutes .minute-box.on.color-4 {
  background-color: var(--color-minute-4);
}
.b #minutes .minute-box.on.color-5 {
  background-color: var(--color-minute-5);
}
.b #seconds {
  top: calc(0% - 1rem);
  left: calc(0% - 1rem);
  width: 100%;
  height: 100%;
}
.b #seconds .second-box {
  border: solid #fff 1rem;
  width: calc(6.25% - 0.9375rem);
  height: calc(6.25% - 0.9375rem);
  background-color: #000;
}
.b #seconds .second-box.row-0 {
  top: calc((6.25% - 0.9375rem + 1rem) * 0 - 1rem);
}
.b #seconds .second-box.col-0 {
  left: calc((6.25% - 0.9375rem + 1rem) * 0 - 1rem);
}
.b #seconds .second-box.row-1 {
  top: calc((6.25% - 0.9375rem + 1rem) * 1 - 1rem);
}
.b #seconds .second-box.col-1 {
  left: calc((6.25% - 0.9375rem + 1rem) * 1 - 1rem);
}
.b #seconds .second-box.row-2 {
  top: calc((6.25% - 0.9375rem + 1rem) * 2 - 1rem);
}
.b #seconds .second-box.col-2 {
  left: calc((6.25% - 0.9375rem + 1rem) * 2 - 1rem);
}
.b #seconds .second-box.row-3 {
  top: calc((6.25% - 0.9375rem + 1rem) * 3 - 1rem);
}
.b #seconds .second-box.col-3 {
  left: calc((6.25% - 0.9375rem + 1rem) * 3 - 1rem);
}
.b #seconds .second-box.row-4 {
  top: calc((6.25% - 0.9375rem + 1rem) * 4 - 1rem);
}
.b #seconds .second-box.col-4 {
  left: calc((6.25% - 0.9375rem + 1rem) * 4 - 1rem);
}
.b #seconds .second-box.row-5 {
  top: calc((6.25% - 0.9375rem + 1rem) * 5 - 1rem);
}
.b #seconds .second-box.col-5 {
  left: calc((6.25% - 0.9375rem + 1rem) * 5 - 1rem);
}
.b #seconds .second-box.row-6 {
  top: calc((6.25% - 0.9375rem + 1rem) * 6 - 1rem);
}
.b #seconds .second-box.col-6 {
  left: calc((6.25% - 0.9375rem + 1rem) * 6 - 1rem);
}
.b #seconds .second-box.row-7 {
  top: calc((6.25% - 0.9375rem + 1rem) * 7 - 1rem);
}
.b #seconds .second-box.col-7 {
  left: calc((6.25% - 0.9375rem + 1rem) * 7 - 1rem);
}
.b #seconds .second-box.row-8 {
  top: calc((6.25% - 0.9375rem + 1rem) * 8 - 1rem);
}
.b #seconds .second-box.col-8 {
  left: calc((6.25% - 0.9375rem + 1rem) * 8 - 1rem);
}
.b #seconds .second-box.row-9 {
  top: calc((6.25% - 0.9375rem + 1rem) * 9 - 1rem);
}
.b #seconds .second-box.col-9 {
  left: calc((6.25% - 0.9375rem + 1rem) * 9 - 1rem);
}
.b #seconds .second-box.row-10 {
  top: calc((6.25% - 0.9375rem + 1rem) * 10 - 1rem);
}
.b #seconds .second-box.col-10 {
  left: calc((6.25% - 0.9375rem + 1rem) * 10 - 1rem);
}
.b #seconds .second-box.row-11 {
  top: calc((6.25% - 0.9375rem + 1rem) * 11 - 1rem);
}
.b #seconds .second-box.col-11 {
  left: calc((6.25% - 0.9375rem + 1rem) * 11 - 1rem);
}
.b #seconds .second-box.row-12 {
  top: calc((6.25% - 0.9375rem + 1rem) * 12 - 1rem);
}
.b #seconds .second-box.col-12 {
  left: calc((6.25% - 0.9375rem + 1rem) * 12 - 1rem);
}
.b #seconds .second-box.row-13 {
  top: calc((6.25% - 0.9375rem + 1rem) * 13 - 1rem);
}
.b #seconds .second-box.col-13 {
  left: calc((6.25% - 0.9375rem + 1rem) * 13 - 1rem);
}
.b #seconds .second-box.row-14 {
  top: calc((6.25% - 0.9375rem + 1rem) * 14 - 1rem);
}
.b #seconds .second-box.col-14 {
  left: calc((6.25% - 0.9375rem + 1rem) * 14 - 1rem);
}
.b #seconds .second-box.row-15 {
  top: calc((6.25% - 0.9375rem + 1rem) * 15 - 1rem);
}
.b #seconds .second-box.col-15 {
  left: calc((6.25% - 0.9375rem + 1rem) * 15 - 1rem);
}
.b #seconds .second-box.on {
  background-color: var(--color-second-0);
}

/*# sourceMappingURL=design-b.css.map */
