.j #hours {
  z-index: 3;
}
.j #minutes {
  z-index: 2;
}
.j #seconds {
  z-index: 1;
}
.j #hours {
  top: calc(50% - (19.3363632817% - 0.5rem) / 2 - 1rem);
  left: calc(50% - (19.3363632817% - 0.5rem) / 2 - 1rem);
  width: calc(19.3363632817% - 0.5rem);
  height: calc(19.3363632817% - 0.5rem);
  transform: rotate(45deg);
  background-color: #000;
}
.j #hours .hour-turn {
  width: 100%;
  height: 100%;
  transform: rotate(-45deg);
}
.j #hours .hour-turn .hour-box {
  border-left: solid #fff 1rem;
  bottom: calc(50% - 0.5rem);
  left: calc(50% - 0.5rem);
  width: 100%;
  height: 100%;
  transform-origin: 0.5rem calc(100% - 0.5rem);
  overflow: hidden;
}
.j #hours .hour-turn .hour-box.rot-0 {
  transform: rotate(0deg);
}
.j #hours .hour-turn .hour-box.rot-1 {
  transform: rotate(30deg);
}
.j #hours .hour-turn .hour-box.rot-2 {
  transform: rotate(60deg);
}
.j #hours .hour-turn .hour-box.rot-3 {
  transform: rotate(90deg);
}
.j #hours .hour-turn .hour-box.rot-4 {
  transform: rotate(120deg);
}
.j #hours .hour-turn .hour-box.rot-5 {
  transform: rotate(150deg);
}
.j #hours .hour-turn .hour-box.rot-6 {
  transform: rotate(180deg);
}
.j #hours .hour-turn .hour-box.rot-7 {
  transform: rotate(210deg);
}
.j #hours .hour-turn .hour-box.rot-8 {
  transform: rotate(240deg);
}
.j #hours .hour-turn .hour-box.rot-9 {
  transform: rotate(270deg);
}
.j #hours .hour-turn .hour-box.rot-10 {
  transform: rotate(300deg);
}
.j #hours .hour-turn .hour-box.rot-11 {
  transform: rotate(330deg);
}
.j #hours .hour-turn .hour-box::after {
  border: solid #fff 1rem;
  content: "";
  position: absolute;
  bottom: 0;
  left: -1rem;
  width: 100%;
  height: 100%;
  transform: rotate(-60deg);
  transform-origin: 0.5rem calc(100% - 0.5rem);
  background-color: #000;
}
.j #hours .hour-turn .hour-box.on::after {
  background-color: var(--color-hour-0);
}
.j #hours .hour-turn .hour-box.on::after {
  background-color: var(--color-hour-0);
}
.j #hours .hour-turn .hour-box.on::after {
  background-color: var(--color-hour-0);
}
.j #minutes {
  top: calc(50% - (70.7106781185% - 0.5rem) / 2 - 1rem);
  left: calc(50% - (70.7106781185% - 0.5rem) / 2 - 1rem);
  width: calc(70.7106781185% - 0.5rem);
  height: calc(70.7106781185% - 0.5rem);
  transform: rotate(45deg);
  background-color: #000;
}
.j #minutes .minute-turn {
  top: -20.7106781185%;
  left: -20.7106781185%;
  width: 141.421356237%;
  height: 141.421356237%;
  transform: rotate(-45deg);
}
.j #minutes .minute-turn .minute-group {
  border: solid #fff 1rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.j #minutes .minute-turn .minute-group.pos-top {
  top: calc(-50% - 1rem - 0.5rem);
}
.j #minutes .minute-turn .minute-group.pos-bottom {
  bottom: calc(-50% - 1rem - 0.5rem);
}
.j #minutes .minute-turn .minute-group.pos-left {
  left: calc(-50% - 1rem - 0.5rem);
}
.j #minutes .minute-turn .minute-group.pos-right {
  right: calc(-50% - 1rem - 0.5rem);
}
.j #minutes .minute-turn .minute-group .minute-box {
  border-left: solid #fff 1rem;
  bottom: calc(50% - 0.5rem);
  left: calc(50% - 0.5rem);
  width: 100%;
  height: 100%;
  transform-origin: 0.5rem calc(100% - 0.5rem);
  overflow: hidden;
}
.j #minutes .minute-turn .minute-group .minute-box.rot-0 {
  transform: rotate(0deg);
}
.j #minutes .minute-turn .minute-group .minute-box.rot-1 {
  transform: rotate(6deg);
}
.j #minutes .minute-turn .minute-group .minute-box.rot-2 {
  transform: rotate(12deg);
}
.j #minutes .minute-turn .minute-group .minute-box.rot-3 {
  transform: rotate(18deg);
}
.j #minutes .minute-turn .minute-group .minute-box.rot-4 {
  transform: rotate(24deg);
}
.j #minutes .minute-turn .minute-group .minute-box.rot-5 {
  transform: rotate(30deg);
}
.j #minutes .minute-turn .minute-group .minute-box.rot-6 {
  transform: rotate(36deg);
}
.j #minutes .minute-turn .minute-group .minute-box.rot-7 {
  transform: rotate(42deg);
}
.j #minutes .minute-turn .minute-group .minute-box.rot-8 {
  transform: rotate(48deg);
}
.j #minutes .minute-turn .minute-group .minute-box.rot-9 {
  transform: rotate(54deg);
}
.j #minutes .minute-turn .minute-group .minute-box.rot-10 {
  transform: rotate(60deg);
}
.j #minutes .minute-turn .minute-group .minute-box.rot-11 {
  transform: rotate(66deg);
}
.j #minutes .minute-turn .minute-group .minute-box.rot-12 {
  transform: rotate(72deg);
}
.j #minutes .minute-turn .minute-group .minute-box.rot-13 {
  transform: rotate(78deg);
}
.j #minutes .minute-turn .minute-group .minute-box.rot-14 {
  transform: rotate(84deg);
}
.j #minutes .minute-turn .minute-group .minute-box.rot-15 {
  transform: rotate(90deg);
}
.j #minutes .minute-turn .minute-group .minute-box.rot-16 {
  transform: rotate(96deg);
}
.j #minutes .minute-turn .minute-group .minute-box.rot-17 {
  transform: rotate(102deg);
}
.j #minutes .minute-turn .minute-group .minute-box.rot-18 {
  transform: rotate(108deg);
}
.j #minutes .minute-turn .minute-group .minute-box.rot-19 {
  transform: rotate(114deg);
}
.j #minutes .minute-turn .minute-group .minute-box.rot-20 {
  transform: rotate(120deg);
}
.j #minutes .minute-turn .minute-group .minute-box.rot-21 {
  transform: rotate(126deg);
}
.j #minutes .minute-turn .minute-group .minute-box.rot-22 {
  transform: rotate(132deg);
}
.j #minutes .minute-turn .minute-group .minute-box.rot-23 {
  transform: rotate(138deg);
}
.j #minutes .minute-turn .minute-group .minute-box.rot-24 {
  transform: rotate(144deg);
}
.j #minutes .minute-turn .minute-group .minute-box.rot-25 {
  transform: rotate(150deg);
}
.j #minutes .minute-turn .minute-group .minute-box.rot-26 {
  transform: rotate(156deg);
}
.j #minutes .minute-turn .minute-group .minute-box.rot-27 {
  transform: rotate(162deg);
}
.j #minutes .minute-turn .minute-group .minute-box.rot-28 {
  transform: rotate(168deg);
}
.j #minutes .minute-turn .minute-group .minute-box.rot-29 {
  transform: rotate(174deg);
}
.j #minutes .minute-turn .minute-group .minute-box.rot-30 {
  transform: rotate(180deg);
}
.j #minutes .minute-turn .minute-group .minute-box.rot-31 {
  transform: rotate(186deg);
}
.j #minutes .minute-turn .minute-group .minute-box.rot-32 {
  transform: rotate(192deg);
}
.j #minutes .minute-turn .minute-group .minute-box.rot-33 {
  transform: rotate(198deg);
}
.j #minutes .minute-turn .minute-group .minute-box.rot-34 {
  transform: rotate(204deg);
}
.j #minutes .minute-turn .minute-group .minute-box.rot-35 {
  transform: rotate(210deg);
}
.j #minutes .minute-turn .minute-group .minute-box.rot-36 {
  transform: rotate(216deg);
}
.j #minutes .minute-turn .minute-group .minute-box.rot-37 {
  transform: rotate(222deg);
}
.j #minutes .minute-turn .minute-group .minute-box.rot-38 {
  transform: rotate(228deg);
}
.j #minutes .minute-turn .minute-group .minute-box.rot-39 {
  transform: rotate(234deg);
}
.j #minutes .minute-turn .minute-group .minute-box.rot-40 {
  transform: rotate(240deg);
}
.j #minutes .minute-turn .minute-group .minute-box.rot-41 {
  transform: rotate(246deg);
}
.j #minutes .minute-turn .minute-group .minute-box.rot-42 {
  transform: rotate(252deg);
}
.j #minutes .minute-turn .minute-group .minute-box.rot-43 {
  transform: rotate(258deg);
}
.j #minutes .minute-turn .minute-group .minute-box.rot-44 {
  transform: rotate(264deg);
}
.j #minutes .minute-turn .minute-group .minute-box.rot-45 {
  transform: rotate(270deg);
}
.j #minutes .minute-turn .minute-group .minute-box.rot-46 {
  transform: rotate(276deg);
}
.j #minutes .minute-turn .minute-group .minute-box.rot-47 {
  transform: rotate(282deg);
}
.j #minutes .minute-turn .minute-group .minute-box.rot-48 {
  transform: rotate(288deg);
}
.j #minutes .minute-turn .minute-group .minute-box.rot-49 {
  transform: rotate(294deg);
}
.j #minutes .minute-turn .minute-group .minute-box.rot-50 {
  transform: rotate(300deg);
}
.j #minutes .minute-turn .minute-group .minute-box.rot-51 {
  transform: rotate(306deg);
}
.j #minutes .minute-turn .minute-group .minute-box.rot-52 {
  transform: rotate(312deg);
}
.j #minutes .minute-turn .minute-group .minute-box.rot-53 {
  transform: rotate(318deg);
}
.j #minutes .minute-turn .minute-group .minute-box.rot-54 {
  transform: rotate(324deg);
}
.j #minutes .minute-turn .minute-group .minute-box.rot-55 {
  transform: rotate(330deg);
}
.j #minutes .minute-turn .minute-group .minute-box.rot-56 {
  transform: rotate(336deg);
}
.j #minutes .minute-turn .minute-group .minute-box.rot-57 {
  transform: rotate(342deg);
}
.j #minutes .minute-turn .minute-group .minute-box.rot-58 {
  transform: rotate(348deg);
}
.j #minutes .minute-turn .minute-group .minute-box.rot-59 {
  transform: rotate(354deg);
}
.j #minutes .minute-turn .minute-group .minute-box::after {
  border: solid #fff 1rem;
  content: "";
  position: absolute;
  bottom: 0;
  left: -1rem;
  width: 100%;
  height: 100%;
  transform: rotate(-84deg);
  transform-origin: 0.5rem calc(100% - 0.5rem);
  background-color: #000;
}
.j #minutes .minute-turn .minute-group .minute-box.on::after {
  background-color: var(--color-minute-0);
}
.j #seconds {
  top: calc(0% - 1rem);
  left: calc(0% - 1rem);
  width: 100%;
  height: 100%;
}
.j #seconds .second-group {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.j #seconds .second-group.pos-top {
  top: -50%;
}
.j #seconds .second-group.pos-bottom {
  bottom: -50%;
}
.j #seconds .second-group.pos-left {
  left: -50%;
}
.j #seconds .second-group.pos-right {
  right: -50%;
}
.j #seconds .second-group .second-box {
  border-left: solid #fff 1rem;
  bottom: calc(50% - 0.5rem);
  left: calc(50% - 0.5rem);
  width: 100%;
  height: 100%;
  transform-origin: 0.5rem calc(100% - 0.5rem);
  overflow: hidden;
}
.j #seconds .second-group .second-box.rot-0 {
  transform: rotate(0deg);
}
.j #seconds .second-group .second-box.rot-1 {
  transform: rotate(6deg);
}
.j #seconds .second-group .second-box.rot-2 {
  transform: rotate(12deg);
}
.j #seconds .second-group .second-box.rot-3 {
  transform: rotate(18deg);
}
.j #seconds .second-group .second-box.rot-4 {
  transform: rotate(24deg);
}
.j #seconds .second-group .second-box.rot-5 {
  transform: rotate(30deg);
}
.j #seconds .second-group .second-box.rot-6 {
  transform: rotate(36deg);
}
.j #seconds .second-group .second-box.rot-7 {
  transform: rotate(42deg);
}
.j #seconds .second-group .second-box.rot-8 {
  transform: rotate(48deg);
}
.j #seconds .second-group .second-box.rot-9 {
  transform: rotate(54deg);
}
.j #seconds .second-group .second-box.rot-10 {
  transform: rotate(60deg);
}
.j #seconds .second-group .second-box.rot-11 {
  transform: rotate(66deg);
}
.j #seconds .second-group .second-box.rot-12 {
  transform: rotate(72deg);
}
.j #seconds .second-group .second-box.rot-13 {
  transform: rotate(78deg);
}
.j #seconds .second-group .second-box.rot-14 {
  transform: rotate(84deg);
}
.j #seconds .second-group .second-box.rot-15 {
  transform: rotate(90deg);
}
.j #seconds .second-group .second-box.rot-16 {
  transform: rotate(96deg);
}
.j #seconds .second-group .second-box.rot-17 {
  transform: rotate(102deg);
}
.j #seconds .second-group .second-box.rot-18 {
  transform: rotate(108deg);
}
.j #seconds .second-group .second-box.rot-19 {
  transform: rotate(114deg);
}
.j #seconds .second-group .second-box.rot-20 {
  transform: rotate(120deg);
}
.j #seconds .second-group .second-box.rot-21 {
  transform: rotate(126deg);
}
.j #seconds .second-group .second-box.rot-22 {
  transform: rotate(132deg);
}
.j #seconds .second-group .second-box.rot-23 {
  transform: rotate(138deg);
}
.j #seconds .second-group .second-box.rot-24 {
  transform: rotate(144deg);
}
.j #seconds .second-group .second-box.rot-25 {
  transform: rotate(150deg);
}
.j #seconds .second-group .second-box.rot-26 {
  transform: rotate(156deg);
}
.j #seconds .second-group .second-box.rot-27 {
  transform: rotate(162deg);
}
.j #seconds .second-group .second-box.rot-28 {
  transform: rotate(168deg);
}
.j #seconds .second-group .second-box.rot-29 {
  transform: rotate(174deg);
}
.j #seconds .second-group .second-box.rot-30 {
  transform: rotate(180deg);
}
.j #seconds .second-group .second-box.rot-31 {
  transform: rotate(186deg);
}
.j #seconds .second-group .second-box.rot-32 {
  transform: rotate(192deg);
}
.j #seconds .second-group .second-box.rot-33 {
  transform: rotate(198deg);
}
.j #seconds .second-group .second-box.rot-34 {
  transform: rotate(204deg);
}
.j #seconds .second-group .second-box.rot-35 {
  transform: rotate(210deg);
}
.j #seconds .second-group .second-box.rot-36 {
  transform: rotate(216deg);
}
.j #seconds .second-group .second-box.rot-37 {
  transform: rotate(222deg);
}
.j #seconds .second-group .second-box.rot-38 {
  transform: rotate(228deg);
}
.j #seconds .second-group .second-box.rot-39 {
  transform: rotate(234deg);
}
.j #seconds .second-group .second-box.rot-40 {
  transform: rotate(240deg);
}
.j #seconds .second-group .second-box.rot-41 {
  transform: rotate(246deg);
}
.j #seconds .second-group .second-box.rot-42 {
  transform: rotate(252deg);
}
.j #seconds .second-group .second-box.rot-43 {
  transform: rotate(258deg);
}
.j #seconds .second-group .second-box.rot-44 {
  transform: rotate(264deg);
}
.j #seconds .second-group .second-box.rot-45 {
  transform: rotate(270deg);
}
.j #seconds .second-group .second-box.rot-46 {
  transform: rotate(276deg);
}
.j #seconds .second-group .second-box.rot-47 {
  transform: rotate(282deg);
}
.j #seconds .second-group .second-box.rot-48 {
  transform: rotate(288deg);
}
.j #seconds .second-group .second-box.rot-49 {
  transform: rotate(294deg);
}
.j #seconds .second-group .second-box.rot-50 {
  transform: rotate(300deg);
}
.j #seconds .second-group .second-box.rot-51 {
  transform: rotate(306deg);
}
.j #seconds .second-group .second-box.rot-52 {
  transform: rotate(312deg);
}
.j #seconds .second-group .second-box.rot-53 {
  transform: rotate(318deg);
}
.j #seconds .second-group .second-box.rot-54 {
  transform: rotate(324deg);
}
.j #seconds .second-group .second-box.rot-55 {
  transform: rotate(330deg);
}
.j #seconds .second-group .second-box.rot-56 {
  transform: rotate(336deg);
}
.j #seconds .second-group .second-box.rot-57 {
  transform: rotate(342deg);
}
.j #seconds .second-group .second-box.rot-58 {
  transform: rotate(348deg);
}
.j #seconds .second-group .second-box.rot-59 {
  transform: rotate(354deg);
}
.j #seconds .second-group .second-box::after {
  border: solid #fff 1rem;
  content: "";
  position: absolute;
  bottom: 0;
  left: -1rem;
  width: 100%;
  height: 100%;
  transform: rotate(-84deg);
  transform-origin: 0.5rem calc(100% - 0.5rem);
  background-color: #000;
}
.j #seconds .second-group .second-box.on::after {
  background-color: var(--color-second-0);
}

/*# sourceMappingURL=design-j.css.map */
