@media (max-width: 480px) {
  html {
    font-size: 1px;
  }
}
@media (min-width: 481px) {
  html {
    font-size: 2px;
  }
}
#hours {
  z-index: 2;
}

#minutes {
  z-index: 3;
}

#seconds {
  z-index: 1;
}

#hours {
  left: calc(0% + 6.25% - 0.9375rem);
  top: calc(0% + 6.25% - 0.9375rem);
  width: calc(100% - (6.25% - 0.9375rem) * 2 - 2rem);
  height: calc(100% - (6.25% - 0.9375rem) * 2 - 2rem);
  background-color: #000;
}
#hours .hour-box {
  border-left: solid #fff 1rem;
  bottom: calc(50% - 0.5rem);
  left: calc(50% - 0.5rem);
  width: 100%;
  height: 100%;
  transform-origin: 0.5rem calc(100% - 0.5rem);
  overflow: hidden;
}
#hours .hour-box.rot-0 {
  transform: rotate(0deg);
}
#hours .hour-box.rot-1 {
  transform: rotate(30deg);
}
#hours .hour-box.rot-2 {
  transform: rotate(60deg);
}
#hours .hour-box.rot-3 {
  transform: rotate(90deg);
}
#hours .hour-box.rot-4 {
  transform: rotate(120deg);
}
#hours .hour-box.rot-5 {
  transform: rotate(150deg);
}
#hours .hour-box.rot-6 {
  transform: rotate(180deg);
}
#hours .hour-box.rot-7 {
  transform: rotate(210deg);
}
#hours .hour-box.rot-8 {
  transform: rotate(240deg);
}
#hours .hour-box.rot-9 {
  transform: rotate(270deg);
}
#hours .hour-box.rot-10 {
  transform: rotate(300deg);
}
#hours .hour-box.rot-11 {
  transform: rotate(330deg);
}
#hours .hour-box::after {
  border: solid #fff 1rem;
  content: "";
  position: absolute;
  bottom: 0;
  left: -1rem;
  width: 100%;
  height: 100%;
  transform: rotate(-60deg);
  transform-origin: 0.5rem calc(100% - 0.5rem);
  background-color: #000;
}
#hours .hour-box.on::after {
  background-color: var(--color-hour-0);
}

#minutes {
  top: calc(10% - 1rem);
  left: calc(10% - 1rem);
  width: 80%;
  height: 80%;
  background-color: #000;
}
#minutes .minute-grid {
  border: solid #fff 1rem;
  overflow: hidden;
}
#minutes .minute-grid.level-0 {
  top: calc(40% - 1rem);
  left: calc(40% - 1rem);
  width: 20%;
  height: 20%;
  z-index: 5;
}
#minutes .minute-grid.level-1 {
  top: calc(30% - 1rem);
  left: calc(30% - 1rem);
  width: 40%;
  height: 40%;
  z-index: 4;
}
#minutes .minute-grid.level-2 {
  top: calc(20% - 1rem);
  left: calc(20% - 1rem);
  width: 60%;
  height: 60%;
  z-index: 3;
}
#minutes .minute-grid.level-3 {
  top: calc(10% - 1rem);
  left: calc(10% - 1rem);
  width: 80%;
  height: 80%;
  z-index: 2;
}
#minutes .minute-grid.level-4 {
  top: calc(0% - 1rem);
  left: calc(0% - 1rem);
  width: 100%;
  height: 100%;
  z-index: 1;
}
#minutes .minute-grid .minute-box {
  border-left: solid #fff 1rem;
  bottom: calc(50% - 0.5rem);
  left: calc(50% - 0.5rem);
  width: 100%;
  height: 100%;
  transform-origin: 0.5rem calc(100% - 0.5rem);
  overflow: hidden;
}
#minutes .minute-grid .minute-box.rot-0 {
  transform: rotate(0deg);
}
#minutes .minute-grid .minute-box.rot-1 {
  transform: rotate(30deg);
}
#minutes .minute-grid .minute-box.rot-2 {
  transform: rotate(60deg);
}
#minutes .minute-grid .minute-box.rot-3 {
  transform: rotate(90deg);
}
#minutes .minute-grid .minute-box.rot-4 {
  transform: rotate(120deg);
}
#minutes .minute-grid .minute-box.rot-5 {
  transform: rotate(150deg);
}
#minutes .minute-grid .minute-box.rot-6 {
  transform: rotate(180deg);
}
#minutes .minute-grid .minute-box.rot-7 {
  transform: rotate(210deg);
}
#minutes .minute-grid .minute-box.rot-8 {
  transform: rotate(240deg);
}
#minutes .minute-grid .minute-box.rot-9 {
  transform: rotate(270deg);
}
#minutes .minute-grid .minute-box.rot-10 {
  transform: rotate(300deg);
}
#minutes .minute-grid .minute-box.rot-11 {
  transform: rotate(330deg);
}
#minutes .minute-grid .minute-box::after {
  border: solid #fff 1rem;
  content: "";
  position: absolute;
  bottom: 0;
  left: -1rem;
  width: 100%;
  height: 100%;
  transform: rotate(-60deg);
  transform-origin: 0.5rem calc(100% - 0.5rem);
  background-color: #000;
}
#minutes .minute-grid .minute-box.on::after {
  background-color: var(--color-minute-0);
}
#minutes .minute-grid .minute-box.on.color-0::after {
  background-color: var(--color-minute-0);
}
#minutes .minute-grid .minute-box.on.color-1::after {
  background-color: var(--color-minute-1);
}
#minutes .minute-grid .minute-box.on.color-2::after {
  background-color: var(--color-minute-2);
}
#minutes .minute-grid .minute-box.on.color-3::after {
  background-color: var(--color-minute-3);
}
#minutes .minute-grid .minute-box.on.color-4::after {
  background-color: var(--color-minute-4);
}

#seconds {
  top: calc(0% - 1rem);
  left: calc(0% - 1rem);
  width: 100%;
  height: 100%;
}
#seconds .second-box {
  border-left: solid #fff 1rem;
  bottom: calc(50% - 0.5rem);
  left: calc(50% - 0.5rem);
  width: 100%;
  height: 100%;
  transform-origin: 0.5rem calc(100% - 0.5rem);
  overflow: hidden;
}
#seconds .second-box.rot-0 {
  transform: rotate(0deg);
}
#seconds .second-box.rot-1 {
  transform: rotate(6deg);
}
#seconds .second-box.rot-2 {
  transform: rotate(12deg);
}
#seconds .second-box.rot-3 {
  transform: rotate(18deg);
}
#seconds .second-box.rot-4 {
  transform: rotate(24deg);
}
#seconds .second-box.rot-5 {
  transform: rotate(30deg);
}
#seconds .second-box.rot-6 {
  transform: rotate(36deg);
}
#seconds .second-box.rot-7 {
  transform: rotate(42deg);
}
#seconds .second-box.rot-8 {
  transform: rotate(48deg);
}
#seconds .second-box.rot-9 {
  transform: rotate(54deg);
}
#seconds .second-box.rot-10 {
  transform: rotate(60deg);
}
#seconds .second-box.rot-11 {
  transform: rotate(66deg);
}
#seconds .second-box.rot-12 {
  transform: rotate(72deg);
}
#seconds .second-box.rot-13 {
  transform: rotate(78deg);
}
#seconds .second-box.rot-14 {
  transform: rotate(84deg);
}
#seconds .second-box.rot-15 {
  transform: rotate(90deg);
}
#seconds .second-box.rot-16 {
  transform: rotate(96deg);
}
#seconds .second-box.rot-17 {
  transform: rotate(102deg);
}
#seconds .second-box.rot-18 {
  transform: rotate(108deg);
}
#seconds .second-box.rot-19 {
  transform: rotate(114deg);
}
#seconds .second-box.rot-20 {
  transform: rotate(120deg);
}
#seconds .second-box.rot-21 {
  transform: rotate(126deg);
}
#seconds .second-box.rot-22 {
  transform: rotate(132deg);
}
#seconds .second-box.rot-23 {
  transform: rotate(138deg);
}
#seconds .second-box.rot-24 {
  transform: rotate(144deg);
}
#seconds .second-box.rot-25 {
  transform: rotate(150deg);
}
#seconds .second-box.rot-26 {
  transform: rotate(156deg);
}
#seconds .second-box.rot-27 {
  transform: rotate(162deg);
}
#seconds .second-box.rot-28 {
  transform: rotate(168deg);
}
#seconds .second-box.rot-29 {
  transform: rotate(174deg);
}
#seconds .second-box.rot-30 {
  transform: rotate(180deg);
}
#seconds .second-box.rot-31 {
  transform: rotate(186deg);
}
#seconds .second-box.rot-32 {
  transform: rotate(192deg);
}
#seconds .second-box.rot-33 {
  transform: rotate(198deg);
}
#seconds .second-box.rot-34 {
  transform: rotate(204deg);
}
#seconds .second-box.rot-35 {
  transform: rotate(210deg);
}
#seconds .second-box.rot-36 {
  transform: rotate(216deg);
}
#seconds .second-box.rot-37 {
  transform: rotate(222deg);
}
#seconds .second-box.rot-38 {
  transform: rotate(228deg);
}
#seconds .second-box.rot-39 {
  transform: rotate(234deg);
}
#seconds .second-box.rot-40 {
  transform: rotate(240deg);
}
#seconds .second-box.rot-41 {
  transform: rotate(246deg);
}
#seconds .second-box.rot-42 {
  transform: rotate(252deg);
}
#seconds .second-box.rot-43 {
  transform: rotate(258deg);
}
#seconds .second-box.rot-44 {
  transform: rotate(264deg);
}
#seconds .second-box.rot-45 {
  transform: rotate(270deg);
}
#seconds .second-box.rot-46 {
  transform: rotate(276deg);
}
#seconds .second-box.rot-47 {
  transform: rotate(282deg);
}
#seconds .second-box.rot-48 {
  transform: rotate(288deg);
}
#seconds .second-box.rot-49 {
  transform: rotate(294deg);
}
#seconds .second-box.rot-50 {
  transform: rotate(300deg);
}
#seconds .second-box.rot-51 {
  transform: rotate(306deg);
}
#seconds .second-box.rot-52 {
  transform: rotate(312deg);
}
#seconds .second-box.rot-53 {
  transform: rotate(318deg);
}
#seconds .second-box.rot-54 {
  transform: rotate(324deg);
}
#seconds .second-box.rot-55 {
  transform: rotate(330deg);
}
#seconds .second-box.rot-56 {
  transform: rotate(336deg);
}
#seconds .second-box.rot-57 {
  transform: rotate(342deg);
}
#seconds .second-box.rot-58 {
  transform: rotate(348deg);
}
#seconds .second-box.rot-59 {
  transform: rotate(354deg);
}
#seconds .second-box::after {
  border: solid #fff 1rem;
  content: "";
  position: absolute;
  bottom: 0;
  left: -1rem;
  width: 100%;
  height: 100%;
  transform: rotate(-84deg);
  transform-origin: 0.5rem calc(100% - 0.5rem);
  background-color: #000;
}
#seconds .second-box.on::after {
  background-color: var(--color-second-0);
}

/*# sourceMappingURL=design-e.css.map */
