
@import "_variables.scss";


.g{
#hours {
	z-index: 2;
}

#minutes {
	z-index: 1;
}

#seconds {
	z-index: 1;
}

#hours {

	top: calc(12.5%);
	left: calc(12.5%);

	width: 75%;
	height: 75%;

	border: none !important;

	.hour-back {

		bottom: calc(50% - $border-half-width);
		left: calc(50% - $border-half-width);

		width: 100%;
		height: 100%;

		transform-origin: $border-half-width calc(100% - $border-half-width);
		overflow: hidden;

		@for $i from 0 to 6 {
			&.rot-#{$i} {
				transform: rotate(60deg * $i);
			}
		}	

		.triangle {

			bottom: 0;
			left: 0;

			width: 100%;
			height: 100%;

			transform-origin: $border-half-width calc(100% - $border-half-width);
			transform: rotate( -30deg );
			overflow: hidden;

			&::after {
				@include border-bottom;

				content: "";

				position: absolute;
				bottom: 0;
				left: 0;

				width: 100%;
				height: 100%;

				// background-color: $background-color;

				transform-origin: 50% calc(100% - $border-half-width);
				transform: rotate( 240deg );
			}


		}
		
	}

}

#minutes {
	@include monopoly-inner;

	.minute-box {
		@include pizza(6deg, color(minute));
	}
}

#seconds {
	@include center-square();

	.second-box {
		@include monopoly( color(second) );
	}
}
}