body .b{
	
	--color-hour-0: #ff0000;

	--color-minute-0: #eeeeee;
	--color-minute-1: #e0e0e0;
	--color-minute-2: #bdbdbd;
	--color-minute-3: #9e9e9e;
	--color-minute-4: #757575;
	--color-minute-5: #616161;

	--color-second-0: #ff0000;

}