body .p{

  --color-hour-0: #21ffff;

  --color-minute-0: #22f1ff;
  --color-minute-1: #24e1ff;
  --color-minute-2: #28d1ff;
  --color-minute-3: #2ec0ff;
  --color-minute-4: #36b0ff;

  --color-second-0: #4992ff;

}