body .e{
	
	--color-hour-0: #00ffff;

	--color-minute-0: #f4d9ff;
	--color-minute-1: #edc2ff;
	--color-minute-2: #e6abff;
	--color-minute-3: #e094ff;
	--color-minute-4: #d97dff;

	--color-second-0: #d266ff;
}