body {

  --color-hour-0: #3700ff;

  --color-minute-0: #3700ff;

  --color-second-0: #eeeeee;
  --color-second-1: #e0e0e0;
  --color-second-2: #bdbdbd;
  --color-second-3: #9e9e9e;
  --color-second-4: #757575;

}